Compile/Debug/
Debug/
Doxyfile
ipch/
peProtector.sdf
.vscode
*.tlog
*.smproj
*.smp
*.exp
PeProtector/Release/PeProtector.res
peProtector.opensdf
Compile/Release/
Library/Release/
LogLibrary/Release/
PeProtector/Release/
Release/Library.lib
Release/LogLibrary.lib
Release/Test.lib
Release/Test.pdb
Test/Release/vc120.pdb
